/* Mobile */
@media (max-width:600px) {

    .nav {
        width: 100vw;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-div-2-2 a {
        display: none;
    }

    .nav-main {
        padding: 0px 2vw;
        height: 60px;
    }

    .nav-div-2 {
        flex-direction: column;
        width: 50%;
        height: 60px;
        padding: 0px;
        align-items: end;
    }

    .nav-div-2-2 div .nav-button-1 {
        display: none;
    }

    .nav ul {
        display: none;
    }

    .sec-1 {
        margin-top: 9vh;
    }

    .sec-1-text h1 {
        font-size: 36px;
        line-height: 54px;
        width: 62%;
    }

    .sec-1-text {
        height: 22em;
    }

    .sec-1-text p {
        font-size: 20px;
        width: 70%;
        line-height: 30px;
        font-weight: 100;
    }

    .sec-2-main {
        height: 66em;
    }

    .sec-2-top-para,
    .sec-2-bottom-para {
        flex-direction: column;
    }

    .img-sec-2 img {
        width: 120vw;
    }

    .top-para-main,
    .bottom-para-main {
        width: 84vw;
        padding: 20px 12px;
    }

    .sec-3 {
        height: 100em;
    }

    .sec-3 .main-container {
        border: none;
        height: 91em;
    }

    .main-text-div {
        width: 92vw;
    }

    .main-text-div h1 {
        font-size: 25px;
    }

    .btn-end-sec-3 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

    }

    .cards-main {
        flex-direction: column;
    }

    .card {
        margin: 20px 1px;
    }

    .sec-4 {
        height: 60em;
        margin: 70px 0px;
    }

    .card-sec-4-main {
        flex-direction: column;
        align-items: center;
    }

    .card-sec-4 {
        margin: 10px 0px;
        width: 19em;
    }

    .card-sec-4 h3 {
        font-size: 16px;
        width: 73%;
    }

    .sec-5 {
        height: 85em;
    }

    .card-sec-5-main {
        flex-direction: column;
    }

    .card-sec-5 {
        width: 70%;
    }

    .sec-6-heading h1 {
        font-size: 25px;
        text-align: center;
    }

    .images-in-sec-6 {
        grid-template-columns: 1fr 1fr;
    }

    .images-in-sec-6 img {
        width: 70%;
    }

    .sec-7 {
        height: 120em;
        justify-content: center;
    }

    .sec-7 div:nth-child(1) h1 {
        text-align: center;
    }

    .sec-7-cards-main {
        flex-direction: column;
        height: 82%;
    }

    .para-card-sec-7 p {
        width: 70%;
        font-size: 20px;
    }

    .sec-8 {
        height: 104em;
    }

    .cards-sec-8-main {
        grid-template-columns: 1fr;
    }

    .card-sec-8 {
        width: 20em;
    }

    .sec-9 {
        height: 70em;
    }

    .sec-9-main {
        flex-direction: column;
        height: 65%;
        justify-content: space-evenly;
    }

    .sec-9-last-div-main h1 {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
    }

    /* footer */
    .footer {
        justify-content: center;
        height: 140em;
    }

    .first-div-footer {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .second-div-footer {
        display: none;
    }

}